# Игнорировать папку node_modules
node_modules/

# Игнорировать файл .env
.env

# Игнорировать логи
logs/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы сборки
dist/
build/

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать лог npm
npm-debug.log*